/Demo/bin/Debug/Demo.vshost.exe
/Demo/obj/x86/Debug/App.g.i.cs
/Demo/obj/x86/Debug/CalibrationScanGun.g.i.cs
/Demo/obj/x86/Debug/Demo_MarkupCompile.i.cache
/Demo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Demo/obj/x86/Debug/MainWindow.g.i.cs
/Demo/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/HideKeyEvent/obj/x86/Debug/App.g.i.cs
/HideKeyEvent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HideKeyEvent/obj/x86/Debug/HideKeyEvent_MarkupCompile.i.cache
/HideKeyEvent/obj/x86/Debug/MainWindow.g.i.cs
/Notification/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RawInput/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShowInfo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfGetWLParam/obj/x86/Debug/App.g.i.cs
/WpfGetWLParam/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfGetWLParam/obj/x86/Debug/MainWindow.g.i.cs
/WpfGetWLParam/obj/x86/Debug/WpfGetWLParam_MarkupCompile.i.cache
/WpfUSB/obj/x86/Debug/App.g.i.cs
/WpfUSB/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfUSB/obj/x86/Debug/MainWindow.g.i.cs
/WpfUSB/obj/x86/Debug/WpfUSB_MarkupCompile.i.cache
/keyBoard/obj/x86/Debug/App.g.i.cs
/keyBoard/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/keyBoard/obj/x86/Debug/MainWindow.g.i.cs
/keyBoard/obj/x86/Debug/keyBoard_MarkupCompile.i.cache
