/Demo/obj
/Demo/bin/*
!/Demo/bin/Debug
/Demo/bin/Debug/*

/cov-int

/HideKeyEvent/obj
/HideKeyEvent/bin/*
!/HideKeyEvent/bin/Debug
/HideKeyEvent/bin/Debug/*

/keyBoard/obj
/keyBoard/bin/*
!/keyBoard/bin/Debug
/keyBoard/bin/Debug/*

/Notification/obj
/Notification/bin/*
!/Notification/bin/Debug
/Notification/bin/Debug/*

/RawInput/obj
/RawInput/bin/*
!/RawInput/bin/Debug
/RawInput/bin/Debug/*

/ShowInfo/obj
/ShowInfo/bin/*
!/ShowInfo/bin/Debug
/ShowInfo/bin/Debug/*

/Test4USB/obj
/Test4USB/bin/*
!/Test4USB/bin/Debug
/Test4USB/bin/Debug/*

/WpfGetWLParam/obj
/WpfGetWLParam/bin/*
!/WpfGetWLParam/bin/Debug
/WpfGetWLParam/bin/Debug/*

/WpfUSB/obj
/WpfUSB/bin/*
!/WpfUSB/bin/Debug
/WpfUSB/bin/Debug/*